<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
        body {
            background-image: url('/static/images/service_background.jpg');
            background-size: 100% 100%;
		    font-family: 'Gowun Batang', serif;
        }
    </style>
</head>
<body>
    <h3>[[개발중]]</h3>
    {% csrf_token %}
    <p>정말로 탈퇴하시겠습니까?</p>
    <button>탈퇴하기</button>
</body>
</html>